<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../assets/styles/bootstrap.min.css" />
        <title>Home</title>
    </head>
    <body>
        <div class="container my-5">
            <h3>Dev Tools | New page</h3>
            <hr />

            <div class="card bg-light">
                <div class="card-body">
                    <div class="form-group">
                        <label class="h4 form-control-label" for="googleSearchInput">Search on Google :</label>
                        <input
                            type="text"
                            class="form-control"
                            name="i1"
                            class="googleSearchInput form-control me-2"
                            id="googleSearchInput"
                            placeholder="How to..."
                            required
                        />
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-secondary" id="searchGoogleBtn">Search</button>
                    </div>
                </div>
            </div>
            <hr />
            <div class="card bg-light">
                <div class="card-body">
                    <div class="form-group">
                        <label class="h4 form-control-label" for="localServerInput">Open new local server :</label>
                        <input
                            type="text"
                            class="form-control"
                            name="i1"
                            class="ecosiaSearchInput form-control me-2"
                            id="localServerInput"
                            placeholder="http://localhost:4200"
                            required
                        />
                    </div>

                    <div class="mt-2">
                        <button type="submit" class="btn btn-secondary" id="localServerBtn">Open</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../dist/assets/scripts/new-tab.js"></script>
        <script type="text/javascript" src="../assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="../assets/scripts/bootstrap/bootstrap.jsdelivr.min.js"></script>
        <script type="text/javascript" src="../assets/scripts/bootstrap/bootstrap.popper.min.js"></script>
    </body>
</html>
