<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="../assets/styles/bootstrap.min.css" />
        <title>Home</title>
    </head>
    <body>
        <div class="vh-100 row">
            <div class="vh-100 col-6 d-flex justify-content-center align-items-center align-self-center">
                <label for="ecosiaSearchInput" class="form-label">Search on Ecosia :</label>
                <div class="d-flex">
                    <input type="text" class="form-control me-2" id="ecosiaSearchInput" placeholder="How to..." />
                    <button type="submit" class="btn btn-primary" id="search-ecosia-btn">Search</button>
                </div>
            </div>
            <div class="vh-100 col-6 d-flex justify-content-center align-items-center align-self-center">
                <label for="localServer" class="form-label">Open new local server :</label>
                <div class="d-flex">
                    <input
                        type="text"
                        class="form-control me-2"
                        id="localServerInput"
                        placeholder="http://localhost:4200"
                    />
                    <button type="submit" class="btn btn-primary" id="local-server-btn">Open</button>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="../../dist/assets/scripts/new-tab.js"></script>
        <script type="text/javascript" src="../assets/scripts/bootstrap/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="../assets/scripts/bootstrap/bootstrap.jsdelivr.min.js"></script>
        <script type="text/javascript" src="../assets/scripts/bootstrap/bootstrap.popper.min.js"></script>
    </body>
</html>
