@import url("../node_modules/electron-tabs/electron-tabs.css");

.etabs-tabgroup {
    color: #fff;
    background-color: #69161d;
}

.etabs-tab {
    color: #fff;
    background: #69161d;
    border: 1px solid #460f13;
    background-color: #69161d;
}

.etabs-tab.active {
    color: #fff;
    background-color: #a3202c;
}

.etabs-tab-buttons button:hover {
    color: #fff;
    background-color: #ff313c;
}

.etabs-tab-buttons button {
    color: #fff;
}

.etabs-buttons button {
    color: #fff;
}

.etabs-views {
    color: #fff;
    border-top: 1px solid #69161d;
}
